.notesList {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	text-decoration: none;
}

.MainMain__noteLink {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid black;
}

.add-note-button {
	max-width: 140px;
	margin-right: 16px;
	color: rgb(58, 57, 57);
	border: 3px solid rgb(116, 139, 241);
	text-align: center;
}
